header {
    display: flex;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-top: 15px;
    z-index: 15;
    width: 100%;
    top: 0;
    position: fixed;
}

header:hover {
    font-size: 150%;
}

.link {
    height: 70px;
    text-decoration: none !important;
    font-size: 20px;
    border: none;
    background-color: black;
    transition: all 0.3s ease 0s;
    color: white !important;
    cursor: pointer;
    font-family: 'Aboreto', cursive;
    text-shadow: 1px 1px 1px white;
}

.link:hover {
    font-size: 1.2rem;
}

.drop {
    position: absolute;
    z-index: 10;
    background-color: black;

}

.drop ul {
    display: contents;
}

.dropdownContent {
    top: 50px;
    color: white;
    list-style-type: none;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdownContent a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdownContent a:hover {
    color: #f1b500;
    cursor: pointer;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchInput {
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #777;
    padding: 0.5rem 1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    margin-right: 10px;
    margin-left: 10px;
}

.searchInput:focus {
    border-color: #00bcd4;
}

.searchButton {
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

@media screen and (max-width: 538px) {
    header {
        display: block;
    }

    .link {
        margin-left: 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 414px) {
    header {
        display: block;
        width: 93%;
    }

    .link {
        margin-left: 10px;
        font-size: 10px;
    }
}